.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.thankyou{
    text-align: center;
    border: 2px solid black;
    padding: 30px;
    box-shadow: 5px 10px #888888;
    border-radius: 10px;
}

.thankyou h2{
    color: green;
    margin-bottom: 20px;
}

.note{
    margin-top: 20px;
    font-size: 14px;
    color: gray;
}

.contact{
    margin-top: 10px;
    font-size: 14px;
    color: blue;
}

.expectedtime{
    margin-top: 10px;
    font-size: 14px;
    color: orange;
}